<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="navbar bg-base-100">
        <div class="navbar-start">
          <a href="/" class="btn btn-ghost normal-case text-xl">Lego Set Collections</a>
        </div>
        <div class="navbar-end">
          <ul class="menu menu-horizontal p-0">
            <li><a class="active" href="/about">About</a></li>
            <li>
              <details>
                <summary>Select Theme</summary>
                <ul class="menu bg-base-100">
                  <li><a href="/lego/sets?theme=City">Urban</a></li>
                  <li><a href="/lego/sets?theme=Space">Cosmos</a></li>
                  <li><a href="/lego/sets?theme=Castle">Fortress</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </nav>
      <section class="hero bg-base-200 rounded-lg p-6">
        <div class="text-center">
          <h1 class="text-5xl font-bold">This section will include the description of myself</h1>
          <a href="/lego/sets" class="btn btn-primary">All Data</a>
          <img src ="/images/it's not that deep.jpeg"/>
          <p>My name is Tushar Gupta, I am a computer programming student in seneca in my last semester, I am quite fond of what I do, and honetly there is nothing much to know about me, thanks for reading so far</p>
        </div>
      </section>


</body>
</html>
